{% extends "roofIsOnFireBase.htm" %}
{% load i18n %}
{% block additional_scripts %}
<script src="/static/signin_form_submit.js"></script>
{% endblock %}
{% block page_content %}
<div id="project_title">
  {# <h1>Créer un compte sur <em>The Roof Is On Fire</em></h1> #}
  <h1>{% trans "Create an account on"%} <em>The Roof Is On Fire</em></h1>
</div>
{% if error_message %}
<div>{{ error_message }}</div>
{% endif %}

<div id="signin_form_placeholder">
  <form method="post" action="valid_signin" id="signin_form"> {% csrf_token %}
    <table class="form">
      {{ form.as_table }}
    </table>
    <a href="/"><div id="back_link" class="form_button">{% trans "Back" %}</div></a>
    <a href="#"><div id="submit_link" class="form_button">{% trans "Submit" %}</div></a>
  </form>
</div>
{% endblock %}
